<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Выбор категории</h2>
        <form method="POST" action="{{url_for('query_bp.query_category')}}">
            <div class="form-group">
                <label for="category">Категория:</label>
                <input type="text" id="category" name="category" required>
            </div>
            <input type="submit" value="Применить" class="btn-submit">
        </form>
        <center>
        <p>
            <a class="menu-link exit-link" href="{{url_for('main_session')}}">Выход в меню</a>
        </p>
    </center>
    </div>
</body>
</html>
