<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_menu.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <span class="navbar-message">{{message}}</span>
        </div>
    </nav>

    <div class="container main-content">
        <h2>Главное меню</h2>
        <center>
                <a class="menu-link" href="{{url_for('basket_bp.basket_index')}}">Каталог</a>
            </p>
            <p>
                <a class="menu-link exit-link" href="{{url_for('exit_func')}}">Нажмите для выхода</a>
            </p>
        </center>
    </div>
</body>
</html>
