<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню запросов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_menu.css') }}">
</head>
<body>
    <div class="container main-content">
        <h2>Меню запросов</h2>
        <center>
            <p>
                <a class="menu-link" href="{{url_for('query_bp.query_medicine')}}">Поиск препарата на скалде по названию</a>
            </p>
            <p>
                <a class="menu-link" href="{{url_for('query_bp.query_group')}}">Поиск препарата на скалде по группе </a>
            </p>
        <p>
            <a class="menu-link exit-link" href="{{url_for('main_session')}}">Выход в меню</a>
        </p>
        </center>
    </div>
</body>
</html>
